/*
Description:  Default theme for Classes
Author:       Joseph Neathawk
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/

/*--------------------------------------------------------------
selector {
	layout(position)
	
	content(text)
	
	design(background)
	
	other(z-index)
}
----------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
*/
:root {
    --background-color: #1a2c38;
    --secondary-background-color: #0f212e;
    --tertiary-background-color: #213743;

    --primary-text-color: #e4e4e4;
    --secondary-text-color: #b1bad3;
    
    --input-field-background-color: #2a2a2a;
    --input-field-text-color: #e4e4e4;
    --input-field-border-color: #007bff;
    
    --link-color: #007bff;
    
    --button-text-color: #ffffff;
    --button-background-color: #007bff;
    
    --placeholder-text-color: #7a7a7a;

    --required-text-color: #E57373; /*#B55454 D66A6A*/
    --required-border-color: #84150d; /*#B55454 D66A6A*/
}
/*
----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Main Structure
# General Elements
# Modal Navigation
# Navigation
# Header Area
# Content Area
# Footer Area
# Reusable Classes
# Other
# Templates
# Media Queries

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Main Structure
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 1em auto;
    width: 40%;
    background: var(--background-color);
}

a {
    color: var(--link-color);
}

/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/
header {
    padding: 0.25em;
    position: relative; /* bring box shadow forward */
    text-align: center;
    color: var(--primary-text-color);
    font-weight: bold;
	font-size: xx-large;
    font-variant: small-caps;
    background-color: var(--secondary-background-color);
    box-shadow: rgba(0, 0, 0, 0.75) 0 4px 6px -1px,rgba(0, 0, 0, 0.5) 0 2px 4px -1px;
}

/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
main {
    padding: 1em;
    background-color: var(--tertiary-background-color);
    box-shadow: rgba(0, 0, 0, 0.75) 0 4px 6px -1px,rgba(0, 0, 0, 0.5) 0 2px 4px -1px;
}

#form-container {
    margin: auto;
    width: 80%;
    max-height: 100vh;
}

form {
    padding-block: 0.5em;
    color: var(--primary-text-color);
}

form > fieldset {
    padding: 0.5em;
    font-size: 18px;
    margin-bottom: 1em;
    border-radius: 0.3em;
}

form legend {
    margin-inline: 1em;
    padding-inline: 0.5em;
    font-weight: bold;
    font-variant: small-caps;
}

form .required {
    color: var(--required-text-color);
}

/*--------------------------------------------------------------
# Input Fields
--------------------------------------------------------------*/
input, select, textarea {
    border-radius: 0.5em;
    color: var(--placeholder-text-color);
    border: 1px solid var(--input-field-border-color);
    background-color: var(--input-field-background-color);
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

input:invalid,
textarea:invalid,
select:invalid {
  border: 1px solid var(--required-border-color);
}

textarea {
    resize: none;
}

button[type="submit"] {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.75em 1.25em;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}


/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/

footer {
    padding: 0.5em;
    text-align: center;
    font-style: italic;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    box-shadow: rgba(0, 0, 0, 0.75) 0 4px 6px -1px,rgba(0, 0, 0, 0.5) 0 2px 4px -1px;
}

/*--------------------------------------------------------------
# Misc
--------------------------------------------------------------*/

.required-message {
    padding: 0.25em;
    text-align: center;
    font-size: 1em;
    font-style: italic;
    color: var(--secondary-text-color);
    background-color: #2f4553;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 4px -1px,rgba(0, 0, 0, 0.2) 0 1px 2px -1px;
}

::placeholder {
    padding: 0.5em;
}